//////////////////////////////////////////////
// Note:
//  use (w/ option -C/--no-cache) e.g.
//
//   $ sass -C paper.scss o/paper.css
//


@import 'settings';


body {
  font-family: $font-family;
  padding-left: 16px;
  padding-right: 16px;
}


a {
  text-decoration: none;
  color: $primary-color;
  
  &:visited {
    text-decoration: none;
    color: $primary-color;
  }

  &:hover {
    text-decoration: underline;
    color: $primary-color;
  }
} // a
 

.site-title {
  text-align: center;
}


.new-date {
  text-align: center;
}


.item-separator {
  margin: 4px 4px 4px 4px;  // top right bottom left
  border-bottom: 1px solid #dddddd; // light grey-ish;
}


.item {

  .feed-title {
    margin-bottom: 2px;
    color: $item-body-color;

   // note: it's an anchor (link) style nested link
   a, a:visited, a:hover {
     color: $item-body-color;
   }
  } // feed-title

  .item-title {
    margin-top: 0;
    margin-bottom: 2px;

   .item-timestamp {
     font-size: 12px;
     font-weight: normal;
     color: grey;
   }
  } // item-title


 .item-body {
   color: $item-body-color;

   p, ul {
     margin-top: 2px;
     margin-bottom: 2px;
   }

  } // item-body


} // item

